*{margin: 0 auto;
    padding: 5px;
    box-sizing:border-box ;
    

}


.container ul{
    display: flex;
    
    list-style-type: none;
    align-items: center;
    float: right;
    padding: 10px;

}
.container ul li a {
    color: rgb(15, 13, 13);
    margin-top: -10px;
    text-decoration: none;
    font-size: 30px;
    
    

}
.container ul li{
    padding: 0px 20px;
     
      
   
}
.container nav img {
    width: 90px;
    border-radius: 15px;
    margin-top: -35px;
    
}
.container nav{
    box-shadow: 0px 8px 4px #333;
    height: 55px;
    position: relative;
         
 }
 .container ul li a {
    float: right;
    padding: 2px;
}
.container{
    background-color: #dbd8d8;
    position: fixed;
    margin-top: 0;
    width: 100%;
    top: 0;
    left: 0;
    
}
nav a:hover {
    background-color: rgb(117, 144, 233);
    border-radius: 8px;

}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top:45px;
    margin-top: 25px;
    background-color: #270127;
    width: 90%
    

}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #5ca8ff;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-top: 50px;

}
section h2{
    color: rgb(3, 3, 3);
    font-size: 2.5rem;
    margin: 2rem;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;

}
section form label{
    color: rgb(3, 3, 3);
    font-size: 18px;
    margin-bottom: 3px;
}
section input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
    
}
form input:focus{
    border-radius: 16px;

}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 18px;
    margin-bottom: 25px;
    transition: all 0.5s;
    
}
form textarea:focus{
    border-radius: 16px;
}
form button{
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    width: 25%;
    background: white;
    border: 2px solid rgb(252, 249, 249);
    color: rgb(5, 5, 5);
    transition: all 2s ;
    margin-bottom: 20px;
}
form button :hover{
   
   color: #36d8d8;
   
}
.maps{
   
    padding-top: 80px;
    
    width: 600px;
    height: 500px;
    padding-bottom:500px
   
    
    
}
    
    
 
footer {
    width: 40px;
    height: 40px;
    font-size: 25px;
   
    
    
   

}
footer{
    display: flex;
    justify-content: center;
    background-color: #e4e4d9;
    margin-bottom: 20px;
    

    
}
footer a {
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color:  #270127;
    
    
}
footer  :hover{
  color: rgb(255, 17, 0);
}
footer a :hover{
    color: rgb(32, 181, 250);
}






    
    