*{margin: 0 auto;
    padding: 5px;
    box-sizing:border-box ;
    

}
h1{
    padding-top: 50px;
    text-align: center;
    background-color: rgb(19, 180, 19);
    color: white;
    
}

body{
  background-color: azure;
}
p{
    font-size: 17px;
}

.container ul{
    display: flex;
    
    list-style-type: none;
    align-items: center;
    float: right;
    padding: 10px;

}
.container ul li a {
    color: rgb(15, 13, 13);
    margin-top: -10px;
    text-decoration: none;
    font-size: 30px;
    
    

}
.container ul li{
    padding: 0px 20px;
     
      
   
}
.container nav img {
    width: 90px;
    border-radius: 15px;
    margin-top: -35px;
    
}
.container nav{
    box-shadow: 0px 8px 4px #333;
    height: 55px;
    position: relative;
         
 }
 .container ul li a {
    float: right;
    padding: 2px;
}
.container{
    background-color: #dbd8d8;
    position: fixed;
    margin-top: 0;
    width: 100%;
    top: 0;
    left: 0;
    
}
main{
    padding-top: 40px;
    
}
main h1{
    width: 40%;
    height: auto
}

   


footer{
    display: flex;
    justify-content: center;
    
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
    font-size: 25px;
   
    
    
   
    

    
}
footer a {
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color:  #270127;
    
    
}
footer  :hover{
  color: rgb(255, 17, 0);
}
footer a :hover{
    color: rgb(32, 181, 250);
}
@media  (max-width: 420px) {
           
    .center img {
        display: none;
       

}
header {
    width: 100%
}

main {
    width: 100%;
}

footer  a {
    width: 100%;
}
footer{
    width: 60%;
}

.center img{
    width: 100%;
    grid-template-columns: 100%;
}
 

.container nav ul{
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container nav ul  {
   display: block;
   text-align: center;
   margin: 0;
   padding: 0;
}
.container nav{
    display: none;
}

.container nav ul li{
    width: 100%;
}

.container nav img{
    display:none; 
    
}
.container  {
    width: 100%;

}
 
  .container .menu {
    border: 1px solid #000000;
    padding: 10px 15px;
    color: rgb(235, 18, 18);
    float: right;
    margin-top: 15px;
    border-radius: 5px;
   
 
}
.box iframe {
    max-width: 100%;
}
body{
    width: 100%;
}
.menu1{
    display: block;
    border: 1px solid #030303;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    float: right;
    margin-top: 15px;
    border-radius: 5px;
}
.movel{
    display: block;
}



}
      